*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/dev/
/.function_cache/*
*.aux
*.bbl
*.blg
*.fdb*
*.fls
*.gz
*.log
*.lyx*
*.pdf
*.xdv
*_minted*
*.synctex(busy)
*/.ipynb_checkpoints/*
/docs/build/*
test/test_module.jl
test/test_model_module.jl
*.json
test/scratchpad.jl
runs/
JuliaSysimage.dll
Manifest.toml
.ipynb_checkpoints
